<div>
  <form (ngSubmit)="aceptar(info.idel)" [formGroup]="formulario">
    <p mat-dialog-title>Formulario para editar</p>
    <div mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>titulo</mat-label>
        <input matInput name="info.canonicalTitle" [(ngModel)]="info.canonicalTitle" formControlName="canonicalTitle">        
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>rating</mat-label>
        <input matInput name="info.averageRating" [(ngModel)]="info.averageRating" formControlName="averageRating">        
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>no. episodios</mat-label>
        <input matInput name="info.episodeCount" [(ngModel)]="info.episodeCount" formControlName="episodeCount">        
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
      <button type="submit" mat-button>aceptar</button>
    </div>
  </form>
</div>
