:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mat-dialog-title{
    color: rgb(179, 0, 0);
    font-weight: bolder;
  }

  .mat-button{
    background-color: rgb(179, 0, 0);
    color:white;
  }